.message {
    /*border: #a01818 solid 2px;*/
    margin: 10px;
    text-align: end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.imageAndText {

    /*border: #3a205b solid 1px;*/
    display: flex;
    flex-direction: row-reverse;
    gap: 25px;
    align-items: flex-end;


}

.imageAndText img {
    width: 48px;
    height: 48px;


}

.text {

    min-height: 60px;
    margin-right: 12px;
    background-color: #0066CC;
    color: #FFFFFF;
    font-weight: 400;
    border-radius: 10px 10px  0 10px;
    padding: 8px 13px;
    position: relative; /* Нужно для позиционирования псевдоэлемента */

}

.text:after {

    content: '';
    position: absolute;
    right: -10px;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 0 15px;
    border-color: transparent transparent transparent #0066CC;

}


.name {
    font-size: 18px;
    font-weight: 600;
}

.messageText {
    font-size: 16px;
    word-wrap: break-word;
    /*border: #3a205b solid 1px;*/


}

.time {
    font-size: 10px;
    font-weight: 600;
    margin-right: 10px;


}
