.sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 320px;
    height: 100%;
    background: #fff;
    /*transition: left 0.3s ease;*/
    z-index: 1000;

}

.sidebar.open {
    left: 0;


}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    z-index: 999;
    Opacity: 30%
}

.nav {
    color: #000000;
    font-size: 22px;
    margin-left: 10px;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 65px;
}

.nav a {


}

.nav a:hover {
    color: #58ACFF;
    font-size: 22px;
    font-weight: 600;

}

.nav a.active {
    color: #0059B2;
    font-size: 22px;
    text-decoration: underline;
    font-weight: 600;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;

}

.close img {


}
