.radio {
    margin-right: 11px;

}

.radio::before {

}


.radio:checked::before {


}

.label {
    color: #000000;
    font-size: 16px;
    display: flex;
    margin-bottom: 10px;
    padding-left: 127px;

}

.options {

}
