.buttonsContainer {
    width: 84px;
    height: 30px;
    display: flex;
    gap: 25PX;
    margin-bottom: 25px;
    font-size:14px;


}

.clock {

    font-size: 20px;
}

.watch {
    color:#000000 ;
    padding-bottom: 10px;
}

.watch strong {
}

.more {
    color:#00000080 ;
    padding-bottom: 25px;
}