.item {
    padding-bottom: 25px;

}

.item:last-of-type {

}

.users {
    color: #000000;

    width: 609px;
    padding-right: 250px;
    height: 5px;
}

.buttonsContainer {
    display: flex;
    margin-left: 150px;
    gap: 10px;
    padding-bottom: 25px;

}

.container {
    width: 600px;
    margin-bottom: 100px;
    margin-top: 100px;

 }

.thead {
    color: #000000;
    font-weight: 600;
    background-color: #E5E5E5;
    width: 25px;
    border: #CC1439 1px solid ;

}

.nameCol {
    padding-bottom: 15px;
    padding-top: 15px;
    padding-right: 215px;

    border-bottom: #1c0101 1px solid;
}

.ageCol {

}
