.item {
    padding-bottom: 25px;

}

.item:last-of-type {


}

.users {
    color: #000000;

}

.buttonsContainer {
    display: flex;
    margin-left: 250px;
    gap: 10px;

}

.container {

    width: 606px;


}

.thead {
    color: #000000;
    font-weight: 600;

}

.nameCol {
    padding-bottom: 15px;
    padding-top: 15px;
    padding-right: 210px;
    border-bottom: 1px  solid #E5E5E5;
}

.ageCol {

}