.spanBlock {

    color: #509956;
}

.span {
    color:#0080FF;
    padding-left: 18px;
    font-size: 18px;

}

.input {
    width: 276px;
    height:36px ;
    font-size: 16px;
    padding-left: 25px;
    border-radius: 5px;
    border: 1px solid #D1D1D1 !important;
    outline: none;
}

.pen {
    width: 24px;
}