.spanBlock {

    color: #509956;
}

.span {
    color:#0080FF;
    padding-left: 10px;
    font-size: 16px;

}

.input {
    width: 276px;
    height:36px ;
    font-size: 16px;
    padding-left: 25px;
    border-radius: 1px;
    border: 2px solid red !important;

}

.pen {
    width: 24px;
}