.spanBlock {

    color: #509956;
}

.span {
    color:#0080FF;
    padding-left: 10px;
    font-size: 16px;

}

.input {
    width: 276px;
    height:36px ;
    border:1px solid #D1D1D1;
    font-size: 16px;
    padding-left: 24px;
}

.pen {
    width: 24px;
}