.App {
    --header_height: 60px;
}

.hw {
    font-size: 16px;
    color: #0080FF;
    padding-left: 70px;
    padding-top: 40px;
    border-bottom: #D9D9D9 1px solid;
}

.hwTitle {
    font-size: 22px;
    font-weight: 600;
    padding-left: 70px;
    padding-top: 70px;
}