.burgerMenuIcon {
    cursor: pointer;

}

.header {
    display: flex;
    justify-content: space-between;
    margin-left: 70px;
    margin-right: 70px;

}

.header h1 {
    height: 65px;
    font-size: 24px;
 }