.button {
    background-color: #0066CC;
    color: #FFFFFF;
    width: 132px;
    border-radius: 3px;
    border:  1px solid  #0066CC;
    font-size: 14px;
    padding: 5px 24px;
}

.disabled {
    background-color: #0066CC;
    color: #FFFFFF;

}

.secondary {
    color: #0066CC;
    width: 177px;
    background-color: #FFFFFF;
}

.default {
    background-color: #0066CC;
    color: #FFFFFF;
    width: 132px;
}

.red {
    width: 129px;
    background-color: #CC1439;
}

.default:hover {
    width: 167px;
    background-color: #0080FF;

}

.red:hover {
    width: 167px;
    background-color: #FF1A47;
}

.secondary:hover {
    width: 167px;
    background-color:#E5F0FA;
    color:#0066CC ;
}


.default:active {
    width: 167px;
    background-color: #0059B2;

}

.secondary:active {
    width: 167px;
    background-color: #C9E5FF;
}

.red:active {
    width: 167px;
    background-color: #B21232;
}

.button:disabled {
    width: 133px;
    background-color: #004D99;
    color: #002E5C;
    opacity: 0.5;


}
